.cover__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.625;
    text-align: center;
    color: #FFFFFF;
    max-width: 382px;
    position: relative;
    margin-bottom: 3%;
}

@media screen and (max-width: 1439px) {
    .cover__subtitle {
        margin-bottom: 3.75%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 0.875rem;
        margin-bottom: 6%;
        max-width: 90%;
    }
}
